@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --black: #0D0D0D;
    --red: #D93B3B;
    --yellow: #F2C438;
    --grey: #2F3840;
    --white: #F2F2F2;
    --font-size: 1.3rem;
    --serif: 'Tinos', serif;
    --sans: 'Chivo', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
}

section {
    background-color: var(--yellow);
}